FIREBASE_PROJECT_ID=af-ai-store-f0761e
FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=af-ai-store-f0761e.firebaseapp.com
FIREBASE_HOSTING_URL=https://af-ai-store-f0761e.web.app
FIREBASE_HOSTING_ALT_URL=https://af-ai-store-f0761e.firebaseapp.com
